.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 60px 300px;
}


.left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin-top: 10px;
}

.right-column {
    flex: 1;
}


button {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}


input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


textarea {
    width: 60%;
    min-height: 500px;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}




